<div class="container my-5">
  <h2>Order Id : <%= order.id %></h2>

  <ul class="list-group mb-3">
    <% order.OrderItems.forEach(item => { %>
    <li class="list-group-item d-flex justify-content-between w-50">
      <span> <%= item.Product.productName %> x <%= item.quantity %> </span>
      <strong>$<%= (item.price * item.quantity).toFixed(2) %></strong>
    </li>
    <% }) %>
  </ul>

  <h4>Total: $<%= order.totalAmount %></h4>
  <p>Status: <strong><%= order.status %></strong></p>
  <a href="/" class="btn btn-primary"> Home </a>
</div>
